<split direction="horizontal" gutterSize=6 gutterColor="lightgray">
    <split-area size="30">
        <app-explorer></app-explorer>
      </split-area>
    <split-area size="70">
<!--    <app-tabs>
      <app-tab [tabTitle]="'Default'">
        <h3>Packages</h3>
        <app-package-list-view [packages]="packages" (addPackage)="onAddPackage()" (editPackage)="onEditPackage($event)"></app-package-list-view>
        <hr />
        <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this.</button>
      </app-tab>
    </app-tabs>
  -->    <mat-tab-group #editorContainer>
      <mat-tab label="XXX">
          <h3>Packages</h3>
          <app-package-list-view [packages]="packages" (addPackage)="onAddPackage()" (editPackage)="onEditPackage($event)"></app-package-list-view>
          <hr />
          <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this.</button>
      </mat-tab>
    </mat-tab-group>
    <ng-template let-package="package" #packageEdit>
      <app-package-detail-view [package]="package" (savePackage)="onPackageFormSubmit($event)"></app-package-detail-view>
    </ng-template>
    <ng-template #about>
      <p>Just an "About" tab. Lorem ipsum, and what-not.</p>
    </ng-template>
  </split-area>
</split>
