<split direction="horizontal" gutterSize=6 gutterColor="lightgray">
    <split-area size="30">
        <app-explorer></app-explorer>
      </split-area>
    <split-area size="70">
    <app-tabs>
      <app-tab [tabTitle]="'Default'">
        <h3>Packages</h3>
        <app-package-list-view [packages]="packages" (addPackage)="onAddPackage()" (editPackage)="onEditPackage($event)"></app-package-list-view>
        <hr />
        <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this.</button>
      </app-tab>
 <!--    <app-tab tabTitle="Editor 1">
        <app-package-detail-view packageId='c63446e0-6570-4f98-bb4b-0c2d07d29c40'></app-package-detail-view>
      </app-tab>
      <app-tab tabTitle="Editor 2">All the other stuff in here.</app-tab>
   --> Text to be displayed when there are no tabs open. Lorem ipsum, and what-not.
    </app-tabs>
    <ng-template let-package="package" #packageEdit>
      <app-package-detail-view [package]="package" (savePackage)="onPackageFormSubmit($event)"></app-package-detail-view>
    </ng-template>
    <ng-template #about>
      <p>Just an "About" tab. Lorem ipsum, and what-not.</p>
    </ng-template>
  </split-area>
</split>
