<split direction="horizontal" gutterSize=6 gutterColor="lightgray">
    <split-area size="30">
        <app-explorer></app-explorer>
      </split-area>
    <split-area size="70">
    <app-tabs>
      <app-tab tabTitle="Editor 1">
        <app-package-detail-view packageId='c63446e0-6570-4f98-bb4b-0c2d07d29c40'></app-package-detail-view>
      </app-tab>
      <app-tab tabTitle="Editor 2">All the other stuff in here.</app-tab>
      <p>Template text that will display when no tabs exist. Lorem ipsum, and what-not.</p>
    </app-tabs>
  </split-area>
</split>
